@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rubik+Microbe&family=Rubik+Puddles&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Rubik Microbe', cursive;
  display: inline;
  background-color: var(--brown2);
}
:root {
  --blue: #25399F;
  --brown1: #584239;
  --brown2: #6C523B;
  --green1: #2B734E;
  --green2: #27AB5E;
  --green3: #1CDC5F;
  --green4: #76E44E;
  --red: #F14037;
  --yellow: #FFDD00;
  --pink: #F0909C;

}
canvas {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 50px;
}
h1 {
  font-size: 50px;
  margin: 30px auto 15px auto;
  width: fit-content;
  color: var(--yellow);
}
button {
	box-shadow:inset 0px 33px 0px -15px var(--brown2);
	background-color:var(--brown1);
	border:1px solid var(--yellow);
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px var(--brown2);
}
button:hover {
	opacity: 90%;
}
button:active {
	position:relative;
	top:1px;
}
