@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rubik+Microbe&family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Rubik Microbe', cursive;
  display: inline;
  background-color: var(--green1);
}
:root {
  --blue: #25399F;
  --brown1: #584239;
  --brown2: #6C523B;
  --green1: #2B734E;
  --green2: #27AB5E;
  --green3: #1CDC5F;
  --green4: #76E44E;
  --red: #F14037;
  --yellow: #FFDD00;
  --pink: #F0909C;

}
canvas {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
}
h1 {
  font-size: 50px;
  margin: 10px auto 10px auto;
  width: fit-content;
  color: var(--yellow);
  z-index:5;
  pointer-events: none;
}
button {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Inter;
  color: var(--green1);
  font-size: 13px;
  background: var(--yellow);
  padding: 10px 15px;
  border: solid var(--green1) 2px;
  text-decoration: none;
}

button:hover {
  opacity: 80%;
  text-decoration: none;
}
button:active {
	position:relative;
	top:1px;
}
#textureOverlay{
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  z-index:5;
  mix-blend-mode: overlay;
  pointer-events: none;
  opacity:20%;
}